RPQINPQR/Web References/swflup/WWfRflup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://seven/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://seven/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://seven/">
      <s:element name="EnviarWF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toWfRflup" type="tns:TOWfRflup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TOWfRflup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="emp_codi" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cas_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usu_codi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pro_codi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="frm_codi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tbl_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cam_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="num_cont" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cas_narc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cas_arch" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarWFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarWFResult" type="tns:TSalida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TSalida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Retorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TxtError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tra_cont" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tra_nume" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarWFSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarWF" />
  </wsdl:message>
  <wsdl:message name="EnviarWFSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarWFResponse" />
  </wsdl:message>
  <wsdl:portType name="SWFRFLUPSoap">
    <wsdl:operation name="EnviarWF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permite crear tareas en un flujo de WorkFlow en SEVEN ERP.</wsdl:documentation>
      <wsdl:input message="tns:EnviarWFSoapIn" />
      <wsdl:output message="tns:EnviarWFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SWFRFLUPHttpGet" />
  <wsdl:portType name="SWFRFLUPHttpPost" />
  <wsdl:binding name="SWFRFLUPSoap" type="tns:SWFRFLUPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarWF">
      <soap:operation soapAction="http://seven/EnviarWF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWFRFLUPSoap12" type="tns:SWFRFLUPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarWF">
      <soap12:operation soapAction="http://seven/EnviarWF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SWFRFLUPHttpGet" type="tns:SWFRFLUPHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SWFRFLUPHttpPost" type="tns:SWFRFLUPHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SWFRFLUP">
    <wsdl:port name="SWFRFLUPSoap" binding="tns:SWFRFLUPSoap">
      <soap:address location="http://cerezo/seven/webservices40/WWfRflup.asmx" />
    </wsdl:port>
    <wsdl:port name="SWFRFLUPSoap12" binding="tns:SWFRFLUPSoap12">
      <soap12:address location="http://cerezo/seven/webservices40/WWfRflup.asmx" />
    </wsdl:port>
    <wsdl:port name="SWFRFLUPHttpGet" binding="tns:SWFRFLUPHttpGet">
      <http:address location="http://cerezo/seven/webservices40/WWfRflup.asmx" />
    </wsdl:port>
    <wsdl:port name="SWFRFLUPHttpPost" binding="tns:SWFRFLUPHttpPost">
      <http:address location="http://cerezo/seven/webservices40/WWfRflup.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>